AssemblyApp/bin
AssemblyApp/obj
Common/bin
Common/obj
DataAccess/bin
DataAccess/obj
.vs
packages
/Common/Common.csproj.user
/TamilNaduElections/obj
/TamilNaduElections/bin/Debug
/AssemblyApp/AssemblyApp.csproj.user
/TamilNaduElections/bin/Release
/tnMapsWebApp/obj
/tnMapWebApp/.vscode
/tnMapWebApp/bin/Debug/netstandard2.0
/tnMapWebApp/node_modules
/tnMapWebApp/obj
